html {
    width: 1440px;
    margin: 0 auto;

}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin: 100px 0;

}

.box {
    width: 70vw;
    height: 20vh;
    background: lightgray;
}