html {
    width: 1440px;
    margin: 0 auto;

}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    margin: 100px 0;

}

.box {
    width: 70vw;
    height: 20vh;
    background: lightgray;
}

.user {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.user--info {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}