html {
    margin: 0 auto;
    background: hsl(228, 33%, 97%);
    font-family: 'Rubik', sans-serif;
    max-width: 800px;

}
body {
    background-color: hsl(228, 33%, 97%);
    font-family: 'Rubik', sans-serif;

}

.container {
    /*display: inline-grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 50px;*/
    margin: 50px auto;

}

.box {
    background: hsl(0, 0%, 100%);
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: hsl(228, 33%, 97%);
    font-weight: 600;
    color: hsl(238, 40%, 52%);
    height: 100px;
    padding: 16px;
    border-radius: 10px;
}

.minus {
    padding: 3px 0;
}

.minus, .plus {
    cursor: pointer;
}

.minus:active, .plus:active {
    scale: 1.5;
}

.button, .edit {
    display: flex;
    align-items: center;
    gap: 6px;
    border-style: none;
    background: white;
    font-weight: 600;
    color: hsl(238, 40%, 52%);

}

.button:active, .edit:active, .delete:active {
    scale: 1.2;
}

.delete {
    display: flex;
    align-items: center;
    gap: 6px;
    border-style: none;
    background: white;
    margin-right: 10px;
    font-weight: 600;
    color: hsl(358, 79%, 66%);
}

.user--data {
    width: 100%;
}


.user {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.user--info {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 25px;
}

.span, .mention--reply {
    font-weight: 600;
    color: hsl(238, 40%, 52%);
}

.mention--reply, .span {
    float: left;
    margin-right: 4px;
}

.icons--desktop--flex {
    display: flex;
}

.avatar--comment, .avatar--reply, .avatar-width {
    width: 40px;
}

.paddingBox {
    padding: 30px;

}

.sendBox {
    padding: 30px;
}

.sendBox--form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.id--comment, .id--reply, .user--id, .time {
    font-size: large;
}

.id--comment, .id--reply, .user--id {
    font-weight: 700;
}

.time {
    font-weight: 400;
    color: hsl(211, 10%, 45%);
}

.text, .reply--text {
    color: hsl(211, 10%, 45%);
}

.box--comment {
    width: 70%;
    height: 120px;
}

.box--comment--input {
    width: 100%;
    height: 100%;
    border-color: hsl(223, 19%, 93%);
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
}

.user--avatar {
    width: 50px;
}

.send {
    padding: 16px 35px;
    border-radius: 12px;
    color: white;
    border-style: none;
    background: hsl(238, 40%, 52%);

}


@media screen and (min-width: 575px) {
    .icons--mobile, .rating--mobile {
        display: none;
    }
    .icons--mobile--rating{
        display: none;
    }
}

@media screen and (max-width: 574px) {


.icons--mobile, .rating--mobile {
    display: none;
}
.icons--mobile--rating{
    display: none;
}

    .box {
        flex-direction: column;

    }

    .paddingBox {
        padding: 15px 21px 0px;
    }
    
    .sendBox--form {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 15px;
        height: 200px;
        z-index: 200;
        position: relative;
        background: white;
    }

    .box--comment { 
        width: 100%;
        grid-column: 1/6;
        grid-row: 1/2;

    }

    .box--comment--input {
        width: 100%;
    }

    .user--avatar {
        grid-row: 2/3;
        width: 40px;
        margin: auto 0;
    }

    .send {
        grid-row: 2/3;
        grid-column: 4/6;
        width: 80%;
        margin-left: 20%;
        padding: 16px;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;

    }
    .offset-sm-1 {
        margin-left: 8.33333333%;
    }

    /* tentativa de mudança */
    .paddingBox {
        position: relative;
        height: 280px;
    }

    .rating {
        position: absolute;
        bottom: 9px;
        flex-direction: row;
        height: unset;
        padding: 10px 12px;
        gap: 20px;
    }

    .button {
        position: absolute;
        bottom: 18px;
        right: 18px;
    }

    .icons--desktop--flex {
        position: absolute;
        bottom: 18px;
        right: 18px;
    }

    .sendBox {
        position: relative;
        height: 230px;
    }

}

